<launch>
    <arg name="project_path"/>
    <arg name="use_v1_arbiter" default="false"/>
    <arg name="overwrite" default="false"/>
    <arg name="gaze" default="true" />
    <arg name="gaze_default_height" default="0.0" />
    <arg name="show_generated_timeline" default="false"/>

    <arg name="fake_render_speech" default="true" />
    <arg name="fake_render_gesture" default="true" />
    <arg name="fake_render_screen" default="true" />
    <arg name="fake_render_facial_expression" default="true" />
    <arg name="fake_render_sound" default="true" />
    <arg name="fake_render_mobility" default="true" />

    <!-- Working Memory -->
    <include file="$(find working_memory)/launch/bringup_mind.launch">
        <arg name="mind_path" value="$(arg project_path)/mind" />
        <arg name="overwrite" value="$(arg overwrite)" />
    </include>

    <node name="events_multiplexer" type="multiplexer_node.py" pkg="events_multiplexer" output="screen"/>

    <!-- Motion Arbiter -->
    <node name="sentence_classifier" type="sentence_classifier.py" pkg="motion_arbiter" output="screen" unless="$(arg use_v1_arbiter)"/>
    <node name="motion_arbiter" type="motion_arbiter.py" pkg="motion_arbiter" output="screen" if="$(arg use_v1_arbiter)">
        <param name="visualization" value="true" />
        <remap from="reply_deprecated" to="reply" />
    </node>
    <node name="motion_arbiter" type="motion_arbiter.py" pkg="motion_arbiter" output="screen" unless="$(arg use_v1_arbiter)">
        <param name="visualization" value="$(arg show_generated_timeline)" />
    </node>

    <!-- Motion Renderer -->
    <node name="motion_renderer" type="motion_renderer.py" pkg="motion_renderer" output="screen" />
    <include file="$(find motion_renderer)/launch/bringup_renderer.launch">
        <arg name="fake_render_speech" value="$(arg fake_render_speech)" />
        <arg name="fake_render_gesture" value="$(arg fake_render_gesture)" />
        <arg name="fake_render_facial_expression" value="$(arg fake_render_facial_expression)" />
        <arg name="fake_render_screen" value="$(arg fake_render_screen)" />
        <arg name="fake_render_sound" value="$(arg fake_render_sound)" />
        <arg name="fake_render_mobility" value="$(arg fake_render_mobility)" />
    </include>

    <!-- Reflex Behaviors -->
    <node name="gaze_planner" type="gaze_planner.py" pkg="reflex_behaviors" output="screen" if="$(arg gaze)">
        <param name="default_height" value="$(arg gaze_default_height)" />
    </node>
    <node name="turn_detector" type="turn_detector.py" pkg="reflex_behaviors" output="screen" />
</launch>
